

<div class="first-container">
    <div  fxLayout="row" fxLayoutAlign="start " class="content">
      <div  fxFlex  id="box" style="padding: 10px;">
        <p class="text-box" style=" font-size: 18px;">
           It’s a holistic communication and data hub providing users the economic freedom. Users enjoy an access to everything they need through this hub: access to the marketplace, to vault and to collaborate with one another.
           It’s a holistic communication and data hub providing users the economic freedom. Users enjoy an access to everything they need through this hub: access to the marketplace, to vault and to collaborate with one another.</p>
        </div>
  
      <div  fxFlex >
        <mat-card class= "mat-card-showdowLess"> 
        
              <img  mat-card-image src ="../assets/images/img_logo.png">
        
            </mat-card>
      
            </div>
    </div>
    <div fxLayout="row">
<div fxFlex > 
  <a href="#"> <img src="../assets/images/btn_viewmore.png" style="width:150%;float:left;">viewMore</a>
</div>
<div fxFlex> 
  <a href="#"><img src="../assets/images/btn_buynow.png" style="float: right; width:87%;"></a>
</div>
<div fxFlex > 
  <a href="#"> <img src="../assets/images/btn_fb.png" class="pull-right"></a>

<a href="#"> <img src="../assets/images/btn_twitter.png" class="pull-right"></a>
 </div>
    </div>
    
        </div>
  




<div id="first">
    
    <div class="row">
        <div class="col-md-4" id="box" style="padding: 10px;">
         
       
          <p class="text-box" style="   
     font-size: 18px;"> It’s a holistic communication and data hub providing users the economic freedom. Users enjoy an access to everything they need through this hub: access to the marketplace, to vault and to collaborate with one another.
           It’s a holistic communication and data hub providing users the economic freedom. Users enjoy an access to everything they need through this hub: access to the marketplace, to vault and to collaborate with one another.</p>
     
         </div>
     
     
     
<div class="jumbotron">
    <div class="row">
      <div class="col-md-6">
    </div>
    <div class="col-md-6">
      <img src="../assets/images/logo_zero404.png"class="img-responsive" style="height:150px;">
    </div>
  </div><!--row-->
  
  <div class="row">
    <div class="col-md-6">
  
      <div class="row">
  <div class="col-md-12 col-sm-12" id="ist-row"><!--use backgrong box here--->
    <p style="margin: 10%; color: white;">$723,141,556,211 <br>marketcup</p>
  </div>
      </div>
      <div class="row">
  <div class="col-md-12 col-sm-12" id="ist-row"><!--use backgrong box here--->
     <p style="margin: 10%; color: white;">$723,141,556,211 <br>marketcup</p>
  </div>
      </div>
      <div class="row">
  <div class="col-md-12 col-sm-12" id="ist-row"><!--use backgrong box here--->
     <p style="margin: 10%; color: white;">$723,141,556,211 <br>marketcup</p>
  </div>
      </div>
    </div><!--col 6-->
  
    <div class="col-md-6" id="tbl" >
      <div class="row">
        <div class="col-md-4">
  <a href=""><img src="../assets/images/ball2.png" style="margin: 50px; float: left;"class="img-responsive" width="120"></a></div>
  <div class="col-md-8">
    <ul>
  <li ><a href="">sell</a></li>
  <li ><a href="">Price</a></li>
  <li ><a href="">Boynow</a></li>
  </ul>
  </div>
  </div>
  
  <a href=""><img src="../assets/images/ball2.png" style="margin: 50px; float:left;"class="img-responsive" width="120"></a>
    </div><!--col 6-->
    </div><!--row-->
  </div><!--jumbotron-->
  <div class="row">
      <div class="col-md-12">
    <h3 class="text-center" style="color:red;font-weight:bold;">where You spend Your ZRO4</h3>
    </div>
    </div>
    
    <div class="row" >
        <div class="container-fluid" >
      <div class="jumbotron" id="jumb_black" style="margin-bottom:  0px;">
      <div class="row">
        <div class="col-md-3">
          <img src="../assets/images/bg_page2.png" style="width:100px;height:100px;" class="center-block">
        </div>
         <div class="col-md-3">
         <h4 style="color: white;"  class="text-center">Pay your trade fees on your digital Exchanges of securities and currancy exchange</h4> 
        </div>
         <div class="col-md-3">
           <img src="../assets/images/bg_page2.png" style="width:100px;height: 100px;" class="center-block">
        </div>
         <div class="col-md-3">
             <h4 style="color: white;" class="text-center">Become a Member Of ZEROCOR AND Join Our Business partner Network</h4> 
        </div>
      </div>
      </div>
        </div>
      </div>
      <div class="row" >
          <div class="container-fluid"  >
        <div class="jumbotron" id="jumb_black"  >
        <div class="row"  >
          <div class="col-md-3">
           <h4 style="color: white;"  class="text-center">Buy premium software and hardware from our marketplace</h4> 
          </div>
          <div class="col-md-3">
            <img src="../assets/images/bg_page2.png" style="width:100px;height:100px;" class="center-block">
          </div>
            <div class="col-md-3">
               <h4 style="color: white;" class="text-center">Pay Your Freelancers And Business Coaches</h4> 
          </div>
           <div class="col-md-3">
             <img src="../assets/images/bg_page2.png" style="width:100px;height: 100px;" class="center-block">
          </div>
          
        
        </div>
        </div>
          </div>
        </div>
        <div class="jumbotron" style="height: 200px; margin-bottom: 0px;" >
            <div class="row">
              <div class="col-md-6" id=bg_box1>
          <div class="container" >
            <div class=row>
              <div class="col-md-6">
          <img src="../assets/images/obisdian_logo.png"  style="width:15%; margin-top:5% ;">
          <br>
          <h3 style="color: red; margin-top: 0px;">Obsidian</h3>
          </div>
          
          <div class="col-md-6">
          <h4 class="text-center" style=" text-align: justify;padding: 5px;">The access is free and always <br/> will be you can benefit from <br/>storage, collaboration and <br/>project management tools <br/>for your startup.<br/></h4>
          <a href=""><img src="../assets/images/btn_visit.png" class="img-responsive" width="120"></a>
          <br>
          </div>
          </div>
          
              </div>
            </div>
              <div class="col-md-6">
          
              </div>
              
            </div>
          
          </div>

          <div class="jumbotron" style="height: 230px;"style="margin-top:  0px;">
              <div class="row">
            
                 <div class="col-md-6">
            
                </div>
                <div class="col-md-6" id=bg_box1>
            <div class="container" >
              <div class=row>
                <div class="col-md-6">
            <img src="../assets/images/ball.png"  style="width:15%; margin-top:5% ;">
            <br>
            <h3 style="color: red; margin-top: 0px;">Obsidian</h3>
            </div>
            
            <div class="col-md-6">
            <h4 class="text-center" style=" text-align: justify; padding: 5px;">Our Communications Hub To <br/>Organize Your Team, <br/>Communications, Learn and <br/>Meet New People<br/>Always Free<br/></h4>
            <a href=""><img src="../assets/images/btn_visit.png" class="img-responsive" width="120"></a>
            </div>
            </div>
            
                </div>
              </div>
                
              </div>
            
            </div>
            <br>
<br>
<div class="row">
  <div class="col-md-12">
<h3 class="text-center" style="font-weight:bold;"><span style="color:red;">want to know more about </span>ZEROCOZ?</h3>
</div>
</div>
<div class=row>
    <div class="col-md-12">
  <div class="container" style="border: 1px solid black; height: 220px;">
    <h3 class="text-center">Download the current version of our white paper</h3>
    <br>
    <br>
    <a href=""><img src="../assets/images/btn_wp.png" class="img-responsive center-block" width="200" ></a>
    
  </div>
    </div>
  
  </div>
  <br>
  <br>
  <div class="row">
      <div class="col-md-12">
    <h3 class="text-center" style="font-weight:bold;"><span style="color:red;">where you can sale your</span> ZRO4 Token</h3>
    <br>
    </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
          <div class="container">
      <table class="table table-striped">
        <thead>
          <tr style="background: gray;">
            <th scope="col">Name</th>
            <th scope="col">marketCap</th>
            <th scope="col">price</th>
            <th scope="col">Value(24th)</th>
            <th scope="col">Cir.Suplly</th>
            <th scope="col">change(24th)</th>
            <th scope="col">price graph(7d)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Mark</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">Mark</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
         
        </tbody>
      </table>
      </div>
      </div>
      </div>
      <div class="jumbotron">
          <div class="row">
          <div class="col-md-12">
            <h3 class="text-center">Frequently Asked <span style="color:red;"> Questions</span></h3>
          </div>
          </div>
          <br>
          <br>
          <div class="row">
          <div class="col-md-4">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="col-md-4">
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            <div class="col-md-4">
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            </div>
            </div>
          
          
          <div class="row">
          <div class="col-md-4">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
            </div>
            <div class="col-md-4">
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,  </p>
            </div>
            <div class="col-md-4">
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>
            </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-12">
            <h3 class="text-center"><span style="color:red;">How to we manage the</span> tokennomic  </h3>
          </div>
          </div>
          <br><br>      
<div class="row" >
  <div class="container-fluid" >
<div class="jumbotron" id="jumb_black2" >
<div class="row">
  <div class="col-md-4">
    <h3 style="color: white; text-align: center;" >Distribution</h3>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
     <h3 style="color: white; text-align: center;" >  Future Distribution</h3>
  </div>
<div class="row">
   <div class="col-md-4">
  <h3 style="color: white; text-align: center;" >  insider lock period</h3>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
     <h3 style="color: white; text-align: center;" >  Masternodes</h3>
  </div>
</div>

<div class="row">
   <div class="col-md-4">
  <h3 style="color: white; text-align: center;" >  current Distribution</h3>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">
     <h3 style="color: white; text-align: center;" >  Dealers</h3>
  </div>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-md-12">
  <h3 class="text-center"><span style="color:red;">Get alert on Development at</span> ZERO404  </h3>
</div>
</div>
<div class="jumbotron" id="jumb_black3">
    <div class="row">
   <div class="col-md-4">
   </div>
    <div class="col-md-4">
    <form action="">
      <input type="text" placeholder="Enter your email to subscribe" class="form-control">
      
    </form>
   </div>
   <div class="col-md-4">
     <form action="">
      <input type="submit"   value="subscribe"class="btn btn-danger">
    </form>
   </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-5">
      </div>
    <div class="col-md-4" class="center-block">
      <div id="icon" style="margin: auto;">
      <a href=""><img src="../assets/images/btn_fb.png"></a>
     <a href=""> <img src="../assets/images/btn_twitter.png"></a>
      <a href=""> <img src="../assets/images/btn_behance.png"></a>
     </div>
    </div>
    </div>
    
<br>
<br>
<br>  
<div class="container" style="border: 1px solid gray;">
    <h2 class="text-center"><span style="color:red;">Social Link of</span> ZERO404 </h2>
    <br>
    <div class="row">
        <div class="col-md-5">
          </div>
          <div class="col-md-4" class="center-block">
              <div id="icon" style="margin: auto;">
              <a href=""><img src="../assets/images/btn_fb.png"></a>
             <a href=""> <img src="../assets/images/btn_twitter.png"></a>
              <a href=""> <img src="../assets/images/btn_behance.png"></a>
             </div>
            </div>

      </div>
      <h4 class="text-center">copyRight @ All Rights reserved BY <span style="color:red;">ZERO404</span></h4>


</div>
<br>
<br>
<script src="js/jquery.min.js">
</script>
<script src="js/bootstrap.min.js"></script>



<router-outlet></router-outlet>
